mixin CreateImg(title, content, button, imgName, contentDir, pictureDir, aosContent, aosPicture, duraction, delay=0)
    .box(data-aos="fade-in")
        .content(class=contentDir  data-aos=aosContent data-aos-duraction=duraction data-aos-delay=delay)
            h1=title
            p=content
            a(href="#" class="button")=button
        .picture(class=pictureDir  data-aos=aosPicture  data-aos-duraction=duraction)
            img(src=imgName)

mixin CreateTitle(title, content)
    .title
        h1=title
        p=content

mixin CreateInfo(title, content)
    .contactInfo
        h3=title
        p=content

mixin CreatePrice(classname, img, title, price)
    div(class=classname style="text-align: center;padding: 10px;")
        .priceContain
            - for(var i=0; i<img; i++)
                img(src="./asset/images/bone.png")
            h2=title
            h3=price
            ul
                li 寵物講座
                li 飼料試吃包
                li 寵物寫真
                li 寵物旅館
                li 寵物健康檢查
            a(href="" class="button") 購買
        
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./asset/css/style.css")
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        title DogLife.
    body
        .main
            include nav.pug
            +CreateImg("我們愛狗", "我們是一群熱愛狗的人士，為了保護與關懷狗建立此網站。", "Get in touch", "./asset/images/dog1.jpg", "right", "left", "fade-in", "fade-in", 5000, 500)
            +CreateImg("快樂的寵物", "讓寵物擁有開心的生活空間與品質。", "Get in touch", "./asset/images/dog2.jpg", "left", "right", "slide-right", "slide-left", 5000)
            +CreateTitle("價格表", "我們網站提供三種付費服務，您可以根據自己的需求選擇。")
            .priceBox
                +CreatePrice("basic", 1, "基本", "$500 元/year") 
                +CreatePrice("premiumn", 2, "高級", "$1000 元/year")
                +CreatePrice("pro", 3, "專業", "$3000 元/year")
        .contactBox
            +CreateTitle("聯絡我們", "如果有任何問題，歡迎來信通知我們。")
            .contact
                form(action="#" method="get")
                    label(for="name") 姓名
                    input(type="text" id="name" name="name" placeholder="請輸入姓名" required)
                    label(for="email") 信箱 
                    input(type="email" id="email" name="email" placeholder="請輸入信箱" required)
                    label(for="message") 訊息
                    textarea(name="message" id="message" cols="30" rows="10")
                    input(type="submit" class="button" value="確認送出")
                .info
                    +CreateInfo("地址", "台中市汪汪路一段777號")
                    +CreateInfo("電話", "02-22222222")
                    +CreateInfo("信箱", "dog777@gmail.com")
        footer
            .footerBox
                .top
                    .about
                        +CreateInfo("關於我們", "台中市汪汪路一段777號")
                    .link
                        h3="快速連結" 
                        .linkpage
                            ul
                                li #[a(href="#") 首頁]
                                li #[a(href="#") 關於]
                                li #[a(href="#") 價格]
                                li #[a(href="#") 聯絡]
                    .follow 
                        +CreateInfo("追蹤我們", "台中市汪汪路一段777號")
                hr(style="border:1px solid white;")
                .bottom
                    span KEVIN &copy; 2019
    | <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    | <script>
    |    AOS.init({
    |       duraction: 3000,
    |       offset: 600
    |    });
    | </script>              

